.ipynb_checkpoints/
.conda/
**/.DS_Store/
.idea/
.venv/
__pycache__/

datasets/
task1/runs
task2/dataset/*
wandb-api-key.txt
runs/
wandb/
task1/images
Dataset
SFA3D
/task2/resized_frames
/task2/tracking_frames
/task2/tracking_frames_old
/task3/dataset
/task3/examples/dataset
/task4/carla
